[
  {emqttd_plugin_observer, [

    % required.
    % pass the {BrokerHost,Port} of at least one permanent broker.
    % Ideally should be the IP of a load balancer so that any broker can be contacted
    {ekaf_bootstrap_broker, {"localhost", 9092}},

    % optional
    % how big is the connection pool per partition
    % eg: if the topic has 3 partitions, then with this eg: 300 workers will be started
    {ekaf_per_partition_workers, 1},

    % optional
    % how many events should the worker wait for before flushing to kafka as a batch
    {ekaf_max_buffer_size, [
      {<<"onlyu.im">>, 1},        % for the specific topic, do not batch
      {ekaf_max_buffer_size, 100}  % for other topics, batch will improve kafka throughput but enlarge latency
    ]},

    % optional
    % if you are not bothered about the order, use random for speed
    % else the default is random
    {ekaf_partition_strategy, [
      {<<"onlyu.im">>, custom},          % refer to ekaf_callback_custom_partition_picker. the default_custom_partition_picker
                                         % will route messages in form of {key, value} via hash(key). so messages with the same
                                         % key will be routed to the same partition
      {ekaf_partition_strategy, random}  % for other topics, just use random, which is faster
    ]},

    % optional
    % to always route messages with keys to the same partition
    {ekaf_callback_custom_partition_picker, {ekaf_callbacks, default_custom_partition_picker}}
  ]}
].
